:root {
  --background-colour: hsl(0, 0, 98%);
  --element-colour: hsl(209, 23%, 22%);
  --text-colour: hsl(200, 15%, 8%);
  --input-colour: hsl(0, 0%, 52%);
}

[data-theme="dark"] {
  --background-colour: hsl(207, 26%, 17%);
  --element-colour: hsl(209, 23%, 22%);
  --text-colour: hsl(0, 0%, 100%);
  --input-colour: hsl(0, 0%, 100%);
}
